/*--------------BASE SETTINGS----------------*/

:root {
    --clr-black: #161619;
    --clr-dark: #131414;
    --clr-greyD: #212529;
    --clr-grey: #323233;
    --clr-yellow: #ffcd4b;
    --crl-neon: #75dd75;
    --clr-pink: #f86f54;
    --clr-teal: #88e0e0;

    --height: 1;
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6e6e6e;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4f4f4f;
    border-radius: 10px;
}

* {
    color: white;
}

a {
    text-decoration: none !important;
}

main {
    overflow-x: hidden;
}

/*------------------------------------------*/

/*------------------COLORS------------------*/

/*TEXT color*/
.text--grey *,
.text--grey {
    color: grey;
}
.text--neon *,
.text--neon {
    color: var(--crl-neon) !important;
}
.text--teal *,
.text--teal {
    color: var(--clr-teal);
}

/*BACKGROUND color*/
.bg--black,option {
    background-color: var(--clr-black);
}
.bg--dark,
.card--holder {
    background-color: var(--clr-dark);
}
.bg--greyd,
.card--body {
    background-color: var(--clr-greyD);
}
.bg--grey {
    background-color: var(--clr-grey);
}
.bg--pink {
    background-color: var(--clr-pink);
}
.bg--neon {
    background-color: var(--crl-neon);
}
.bg--yellow {
    background-color: var(--clr-yellow);
}

/* Background svg*/
.svg-holder {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
}
svg {
    animation: example 3s ease-in-out infinite alternate;
    z-index: -2;
    opacity: 0.1;
    width: 100vw;
    height: auto;
    overflow: hidden;
}

@keyframes example {
    0% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.1;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.5;
    }
    /* Hold the opacity for 2 seconds */
}

/* -------------------------------------- */

/* ----------------NAV------------------- */
.nav-logo {
    margin: 0 15px;
    font-size: 96px;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}
.c-1 {
    padding-top: -50px;
    margin: 0 6px;
    border: 4px solid var(--clr-dark);
    border-radius: 50px;
    content: "";
    height: calc(var(--height) * 48px);
}

/* -------------------------------------- */

/* ---------------CARDS------------------ */

.card-- {
    background-color: var(--clr-greyD);
    position: relative;
    width: 100%;
    padding: 25px;
    height: 450px;
    border-radius: 20px !important;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2),
        inset -4px -4px 5px rgba(0, 0, 0, 0.2),
        inset 4px 4px 5px rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.card--p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-shadow: 1px 1px black;
}

.card--small {
    background-color: var(--clr-greyD);
    position: relative;
    border-radius: 20px !important;
    width: 100%;
    padding: 25px;
    height: 320px;
    box-shadow: inset -4px -4px 5px rgba(255, 255, 255, 0.1),
        inset 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.card--list {
    height: 40px;
    font-size: 1.3rem;
    line-height: 10px;
}
.card--list img {
    height: 40px;
    aspect-ratio: 1/1;
}

.card--header {
    border: 2px solid #131414;
}

.logo {
    font-size: 70px;
    min-width: 110px;
    min-height: 110px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    border-radius: 50%;
}

/* -------------------------------------- */

/* ---------------SHAPES----------------- */

.shape {
    position: absolute;
    content: "";
    display: block;
}
.card-- .shape:nth-child(1) {
    top: -20px;
    width: 80px;
    height: 80px;
    background-color: palevioletred;
    clip-path: polygon(100% 0, 0 47%, 100% 100%);
}

.card-- .shape:nth-child(2) {
    right: -20px;
    width: 90px;
    height: 90px;
    background-color: red;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.card-- .shape:nth-child(3) {
    bottom: -20px;
    left: -10px;
    width: 110px;
    height: 110px;
    background-color: cadetblue;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.card-- .shape:nth-child(4) {
    bottom: 40px;
    right: -10px;
    width: 110px;
    height: 110px;
    background-color: yellowgreen;
    clip-path: polygon(27% 7%, 99% 18%, 76% 76%, 28% 93%, 0 55%);
}
/* -------------------------------------- */

/* --------------- ETC ------------------ */

canvas {
    width: 100% !important;
    height: 100% !important;
}

.button {
    background-color: cadetblue !important;
    border: 1px solid black !important;
    z-index: 100 !important;
    width: max-content !important;
}
.button:hover {
    background-color: rgb(62, 147, 181) !important;
}

p {
    z-index: 2 !important;
    font-size: larger;
}

/* -------------------------------------- */

/* ---------- MEMBER SETTINGS ----------- */

.member-info {
    padding: 25px 15px;
    background-color: var(--clr-greyD);
    color: white;
}

.social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.85);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.social a {
    margin: 0 10px;
    font-size: 25px;
}
.member:hover .social {
    opacity: 0.8;
}

.member-img {
    position: relative;
    overflow: hidden;
}

/* -------------------------------------- */


/* ------------- DASHBOARD --------------- */

.notification {
    padding: 10px;
}
.menu-closed {
    min-width: 300px;
    transition: transform 0.5s ease; /* Add transition for smooth sliding effect */
}

.menu-open {
    transform: translateX(0%) !important; /* Slide in from left */
}

.menu-mini {
    display: none;
    cursor: pointer;
    position: absolute;
    left: -5px;
    top: 30px;
    z-index: 5;
    width: 60px;
    border: 2px solid white;
    transition: transform 0.1s ease 0.1s; /* Add transition for smooth sliding effect */
}

.menu-mini-closed {
    transform: translateX(50px) !important; /* Slide in from left */
}

.server--list {
    aspect-ratio: 1/1;
    height: 100%;
    margin-right: 15px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    z-index: 2;
}

/* -------------------------------------- */
