:root {
    --clr-dark-base: #212529;
    --clr-black-base: #131414;
    --height: 1;
    --clr-yellow: #ffcd4b;
    --crl-neon: #75dd75;
    --clr-pink:#f86f54;
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6e6e6e;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4f4f4f;
    border-radius: 10px;
}

* {
    color: white;
}
.text--black *{
    color: grey;
}
.bg--black{
    background-color: var(--clr-black-base);
}
.bg--pink{
    background-color: var(--clr-pink);
}
.bg--neon{
    background-color: var(--crl-neon);
}
.text--neon *,.text--neon {
    color: var(--crl-neon) !important; 
}
.bg--yellow{
    background-color: var(--clr-yellow);
}

/* NAVBAR */
/* .float-nav {
    width: 80% !important;
    margin: 20px;
    padding: 10px;
    background-color: var(--clr-dark-base);

    border: solid 5px transparent;
    border-radius: 20px !important;
    box-shadow: -8px -8px 8px rgba(255, 255, 255, 0.1),
        15px 15px 15px rgba(0, 0, 0, 0.2),
        inset -9px -9px 9px rgba(255, 255, 255, 0.1),
        inset 15px 15px 15px rgba(0, 0, 0, 0.2);    
} */


/* -------------------------------------- */
a{
    text-decoration: none !important;
}
.text--middle{
    font-size: 1.3rem;
}
.welcome-p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-shadow: 1px 1px black;
}
.member-info {
    padding: 25px 15px;
    background-color: var(--clr-dark-base);
    color: white;
}

.social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.85);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.social a{
    margin: 0 10px;
    font-size: 25px;
}
.member:hover .social{
    opacity: 0.8;
}

.member-img {
    position: relative;
    overflow: hidden; 
}

/* -------------------------------------- */



.nav-logo {
    margin: 0 15px;
    font-size: 96px;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}
.c-1 {
    padding-top: -50px;
    margin: 0 6px;
    border: 4px solid var(--clr-black-base);
    border-radius: 50px;
    content: "";
    height: calc(var(--height) * 48px);
}

.button{
    background-color: cadetblue !important;
    border: 1px solid black !important;
    z-index: 100 !important;
    width: max-content !important;
}
.button:hover{
    background-color: rgb(62, 147, 181) !important;

}
/* CARDS */
.card--holder {
    color: white;
    background-color: var(--clr-black-base);
    
}


.card-- {
    background-color: var(--clr-dark-base);
    position: relative;
    width: 100%;
    padding: 25px;
    height: 450px;
    border-radius: 20px !important;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2),
        inset -4px -4px 5px rgba(0, 0, 0, 0.2),
        inset 4px 4px 5px rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.card--small {
    background-color: var(--clr-dark-base);
    position: relative;
    border-radius: 20px !important;
    width: 100%;
    padding: 25px;
    height: 320px;
    box-shadow: inset -4px -4px 5px rgba(255, 255, 255, 0.1),
        inset 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.card--list {
    height: 40px;
    font-size: 1.3rem;
    line-height: 10px;
}
.card--list img {
    height: 40px;
    aspect-ratio: 1/1;
}

/* CARDS END */

.logo {
    font-size: 70px;
    min-width: 110px;
    min-height: 110px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff; /* Background color of the circle */
    border-radius: 50%;
}

/* SHAPES */
.shape {
    position: absolute;
    content: "";
    display: block;
}
.card-- .shape:nth-child(1) {
    top: -20px;
    width: 80px;
    height: 80px;
    background-color: palevioletred;
    clip-path: polygon(100% 0, 0 47%, 100% 100%);
}

.card-- .shape:nth-child(2) {
    right: -20px;
    width: 90px;
    height: 90px;
    background-color: red;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.card-- .shape:nth-child(3) {
    bottom: -20px;
    left: -10px;
    width: 110px;
    height: 110px;
    background-color: cadetblue;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.card-- .shape:nth-child(4) {
    bottom: 40px;
    right: -10px;
    width: 110px;
    height: 110px;
    background-color: yellowgreen;
    clip-path: polygon(27% 7%, 99% 18%, 76% 76%, 28% 93%, 0 55%);
}
/* SHAPES END */

/* DIAGRAMM */
canvas {
    width: 100% !important;
    height: 100% !important;
}

.svg-holder {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
}
svg {
    animation: example 3s ease-in-out infinite alternate;
    z-index: -2;
    opacity: 0.1;
    width: 100vw;
    height: auto;
    overflow: hidden;
}

@keyframes example {
    /* from{opacity: 0.08;}
    to{opacity: 0.55;} */

    0% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.1;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.5;
    } /* Hold the opacity for 2 seconds */
}

main {
    overflow-x: hidden;
}
body {
    background-color: var(--clr-dark-base) !important;
}

p {
    z-index: 2 !important;
    font-size: larger;
}



.footer-link {
    text-decoration: none;
}

/* DASHBOARD */
.notification{
    padding: 10px;
 }
 .menu{
    min-width: 300px;
 }