:root {
    --clr-dark-base: #212529;
    --anim-delay: 1;
    
}

* {
    color: white;
}

/* NAVBAR */
.float-nav {
    width: 60% !important;
    margin: 20px;
    padding: 10px;
    background-color: var(--clr-dark-base);

    border: solid 5px transparent;
    border-radius: 20px !important;
    box-shadow: -8px -8px 8px rgba(255, 255, 255, 0.1),
        15px 15px 15px rgba(0, 0, 0, 0.2),
        inset -9px -9px 9px rgba(255, 255, 255, 0.1),
        inset 15px 15px 15px rgba(0, 0, 0, 0.2);
}


/* CARDS */
.card--holder {
    color: white;
    width: 100%;
    background-color: #131414;
}

.card-- {
    background-color: var(--clr-dark-base);
    z-index: -2;
    position: relative;
    width: 100%;
    padding: 25px;
    height: 450px;
    border-radius: 20px !important;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2),
        inset -4px -4px 5px rgba(0, 0, 0, 0.2),
        inset 4px 4px 5px rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.card--small {
    background-color: var(--clr-dark-base);
    position: relative;
    border-radius: 20px !important;
    width: 100%;
    padding: 25px;
    height: 320px;
    box-shadow: inset -4px -4px 5px rgba(255, 255, 255, 0.1),
        inset 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.card--list {
    height: 40px;
    font-size: 1.3rem;
    line-height: 10px;
}
.card--list img {
    height: 40px;
    aspect-ratio: 1/1;
}


/* CARDS END */

.logo {
    font-size: 70px;
    width: 110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff; /* Background color of the circle */
    border-radius: 50%;
}


/* SHAPES */
.shape {
    position: absolute;
    content: "";
    display: block;
    z-index: -1;
}
.card-- .shape:nth-child(1) {
    top: -20px;
    width: 80px;
    height: 80px;
    background-color: palevioletred;
    clip-path: polygon(100% 0, 0 47%, 100% 100%);
}

.card-- .shape:nth-child(2) {
    right: -20px;
    width: 90px;
    height: 90px;
    background-color: red;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.card-- .shape:nth-child(3) {
    bottom: -20px;
    left: -10px;
    width: 110px;
    height: 110px;
    background-color: cadetblue;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.card-- .shape:nth-child(4) {
    bottom: 40px;
    right: -10px;
    width: 110px;
    height: 110px;
    background-color: yellowgreen;
    clip-path: polygon(27% 7%, 99% 18%, 76% 76%, 28% 93%, 0 55%);
}
/* SHAPES END */


/* DIAGRAMM */
canvas {
    width: 100% !important;
    height: 100% !important;
}




.svg-holder {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
}
svg {
    animation: example 2s ease-in-out 3s infinite alternate;
    z-index: -2;
    opacity: 0.1;
    width: 100vw;
    height: auto;
    overflow: hidden;
}

@keyframes example {
    /* from{opacity: 0.08;}
    to{opacity: 0.55;} */

    0% {
        opacity: 0.1;
    }
    80% {
        opacity: 0.5;
    }
    90% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.7;
    } /* Hold the opacity for 2 seconds */
}

main {
    overflow-x: hidden;
}
body{
    background-color: var(--clr-dark-base) !important;
}

p {
    z-index: 100000;
}