.usage-example {
    background-color: #2b2d31;
    border-radius: 7px;
    padding: 3px;
}

.docs-card:hover > h3
{
    color: var(--clr-teal);
    cursor: pointer;
}

.card-info:hover .fa-warning {
    color: var(--bs-warning)
}

.card-info:hover .fa-circle-exclamation {
    color: var(--bs-info)
}

.module-selector:hover {
    color: var(--clr-teal) !important;
}
